[submodule "BootcampS3T3Floristeria"]
	path = BootcampS3T3Floristeria
	url = https://github.com/Msoler92/BootcampS3T3Floristeria.git
[submodule "Joc-de-Daus"]
	path = Joc-de-Daus
	url = https://github.com/Msoler92/Joc-de-Daus.git
[submodule "BootcampS5T1N3"]
	path = BootcampS5T1N3
	url = https://github.com/Msoler92/BootcampS5T1N3.git
[submodule "BootcampS5T1N2"]
	path = BootcampS5T1N2
	url = https://github.com/Msoler92/BootcampS5T1N2.git
[submodule "BootcampS5T1N1"]
	path = BootcampS5T1N1
	url = https://github.com/Msoler92/BootcampS5T1N1.git
[submodule "BootcampS4T2N3"]
	path = BootcampS4T2N3
	url = https://github.com/Msoler92/BootcampS4T2N3.git
[submodule "BootcampS4T2N2"]
	path = BootcampS4T2N2
	url = https://github.com/Msoler92/BootcampS4T2N2.git
[submodule "BootcampS4T2N1"]
	path = BootcampS4T2N1
	url = https://github.com/Msoler92/BootcampS4T2N1.git
[submodule "BootcampS4T1N3"]
	path = BootcampS4T1N3
	url = https://github.com/Msoler92/BootcampS4T1N3.git
[submodule "BootcampS4T1N2"]
	path = BootcampS4T1N2
	url = https://github.com/Msoler92/BootcampS4T1N2.git
[submodule "BootcampS4T1N1"]
	path = BootcampS4T1N1
	url = https://github.com/Msoler92/BootcampS4T1N1.git
[submodule "BootcampS3T2"]
	path = BootcampS3T2
	url = https://github.com/Msoler92/BootcampS3T2.git
[submodule "BootcampS3T1"]
	path = BootcampS3T1
	url = https://github.com/Msoler92/BootcampS3T1.git
[submodule "BootcampS2T4"]
	path = BootcampS2T4
	url = https://github.com/Msoler92/BootcampS2T4.git
[submodule "BootcampS2T3"]
	path = BootcampS2T3
	url = https://github.com/Msoler92/BootcampS2T3.git
[submodule "BootcampS2T2"]
	path = BootcampS2T2
	url = https://github.com/Msoler92/BootcampS2T2.git
[submodule "BootcampS2T1"]
	path = BootcampS2T1
	url = https://github.com/Msoler92/BootcampS2T1.git
[submodule "BootcampS1T8"]
	path = BootcampS1T8
	url = https://github.com/Msoler92/BootcampS1T8.git
[submodule "BootcampS1T7"]
	path = BootcampS1T7
	url = https://github.com/Msoler92/BootcampS1T7.git
[submodule "BootcampS1T6"]
	path = BootcampS1T6
	url = https://github.com/Msoler92/BootcampS1T6.git
[submodule "BootcampS1T5"]
	path = BootcampS1T5
	url = https://github.com/Msoler92/BootcampS1T5.git
[submodule "BootcampS1T4"]
	path = BootcampS1T4
	url = https://github.com/Msoler92/BootcampS1T4.git
[submodule "BootcampS1T3"]
	path = BootcampS1T3
	url = https://github.com/Msoler92/BootcampS1T3.git
[submodule "BootcampS1T2"]
	path = BootcampS1T2
	url = https://github.com/Msoler92/BootcampS1T2.git
[submodule "BootcampS1T1"]
	path = BootcampS1T1
	url = https://github.com/Msoler92/BootcampS1T1.git
